html ,  body {
    минимальная высота : 100 % ;
    дисплей : гибкий;
    flex-direction : столбец;
    вес шрифта : 300 ;
    высота строки : 1,5 ;
}

тело {
    семейство шрифтов : "Lato" , без засечек;
    background : # 000000  url ( "img / background.jpg" ) по центру;
    размер фона : обложка;
    поле : 0 ;
}

{
    цвет : # 204156 ;
    текстовое оформление : нет;
}

, заголовок страницы {
    выравнивание текста : по центру;
    вес шрифта : 100 ;
}

, page-description {
    граница : 1 пиксель сплошной # 000 ;
    поле : 2 px ;
    выравнивание текста : по центру;
    набивка : 30 пикселей ;
}

, галерея {
    край поля : 20 пикселей ;
    дисплей : гибкий;
    flex-wrap : обертывание;
    justify-content : центр;
}

, элемент галереи {
    поле : 20 пикселей ;
}

, галерея-элемент . thumbnail {
    рамка : 5 пикселей сплошной # FFF ;
}

нав . header {
    дисплей : гибкий;
    justify-content : пробел между
    заполнение : 10 пикселей ;
}

нав  {
    отступы : 0 px  10 px ;
}

, обернуть {
    дисплей : гибкий;
    align-items : center;
    justify-content : flex-end;
    поле слева : авто;
}

nav  div {
    заполнение : 10 пикселей ;
}

nav {
    цвет фона : # fff ;
}

nav  li {
    дисплей : встроенный;
    поле : 0 ;
    отступы : 0  10 px ;
}

nav  ul {
    дисплей : встроенный;
}

, contact-btn {
    плавать : правильно;
}

, contact-btn  a {
    курсор : указатель;
    поле справа : 30 пикселей ;
    заполнение : 8 px  18 px ;
    граница : 1 ПВ твердые # 204156 ;
    положение : относительное;
}

, contact-btn  a : active {
    верх : 2 пикс . ;
}
